<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>History</ion-title>

    <!-- <ion-buttons slot="end" (click)="openPopover($event)">
      <ion-icon style="font-size: 2em; transform: rotate(90deg)" name="swap"></ion-icon>
    </ion-buttons> -->

    <ion-buttons slot="end" (click)="presentAlertConfirm()">
      <ion-icon style="font-size: 2em" name="trash"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="filters-select">
    <ion-item>
      <ion-label><ion-icon name="funnel"> Filter</ion-icon></ion-label>
      <ion-select value="default" okText="Apply" cancelText="Dismiss" [(ngModel)]="filters" (ionChange)="change($event)">
        <ion-select-option value="default" selected>Default</ion-select-option>
        <ion-select-option value="nameAsc">By name A to Z</ion-select-option>
        <ion-select-option value="nameDesc">By name Z to A</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div class="articles">
    <div class="article" *ngFor="let article of articlesHistory">
      <div class="left-side-content">
        <img class="article-img" src="{{ article.urlToImage }}" alt="img" *ngIf="article.urlToImage">
        <p class="published-date">{{ article.publishedAt }}</p>
      </div>
      <div class="right-side-content">
        <h1 class="title">{{ article.title }}</h1>
        <h4 class="description" *ngIf="article.description">{{ (article.description.length>50) ? (article.description | slice:0:50)+'...' : (article.description) }}</h4>
        <!-- <button class="read-more" (click)="showArticleDetails(article)">Read More <ion-icon name="arrow-forward"></ion-icon></button> -->
      </div>
    </div>
  </div>


</ion-content>