$boxshadow-element: 0px 0px 10px 2px rgba(0, 0, 0, .25);
$radius-box: 0 0 15px 15px;
$radius-btn: 15px 0 15px 0;

.text-container {
    box-shadow: $boxshadow-element;
    border-radius: $radius-box;
    // min-height: 5vh;
    height: 40vh;
    overflow: hidden;
    padding: 10px 15px;
    position: relative;

    p {
        text-align: justify;
    }

    .drag {
        background-image: linear-gradient(90deg, #4776E6, #8E54E9);
        border-radius: $radius-btn;
        bottom: 5px;
        box-shadow: $boxshadow-element;
        height: 30px;
        line-height: 30px;
        padding: 4px;
        position: absolute;
        right: 5px;
        text-align: center;
        width: 25%;

        .drag-icon {
            color: #ffffff;
            font-size: 1.4em;
        }
    }
}

.context-canavas-dragable {
    height: 100vh;
    width: 100%;
}