$boxshadow-element: 0px 0px 10px 2px rgba(0, 0, 0, .25);
$radius-box: 0 0 15px 15px;
$radius-btn: 15px 0 15px 0;
$margin-drag-btn: 5px;

.top-container {
    box-shadow: $boxshadow-element;
    border-radius: $radius-box;
    height: 40vh;
    overflow: hidden;
    padding: 5px 15px 10px 15px;
    position: relative;
    // pointer-events: none;

    .text-content-wrapper {
        // border: 1px solid black;
        display: block;
        height: 100%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        text-align: justify;
        width: 100%;
        
        .text-content {
            // border: 1px solid red;
            
            p {
                text-align: justify;
            }
        }
    }

    // .text-content-wrapper::-webkit-scrollbar {
    //     display: none;
    // }
    
    .drag {
        background-image: linear-gradient(90deg, #4776E6, #8E54E9);
        border-radius: $radius-btn;
        bottom: $margin-drag-btn;
        box-shadow: $boxshadow-element;
        height: 35px;
        padding: 6px;
        position: absolute;
        right: $margin-drag-btn;
        text-align: center;
        width: 25%;
        z-index: 10;

        .drag-icon {
            color: #ffffff;
            font-size: 1.4em;
        }
    }
}

.context-canavas-dragable {
    height: 100vh;
    width: 100%;
}