$boxshadow-element: 0px 0px 10px 0px rgba(0, 0, 0, .25);

.text-container {
    box-shadow: $boxshadow-element;
    // min-height: 5vh;
    height: 40vh;
    overflow: hidden;
    padding: 10px 15px;
    position: relative;

    p {
        text-align: justify;
    }

    .drag {
        background-image: linear-gradient(90deg, #4776E6, #8E54E9);
        border-radius: 10px 0 0 0;
        bottom: 0px;
        box-shadow: $boxshadow-element;
        height: 30px;
        line-height: 30px;
        padding: 4px;
        position: absolute;
        right: 0;
        text-align: center;
        width: 25%;

        .drag-icon {
            color: #ffffff;
            transform: rotate(90deg); 
        }
    }
}

.context-canavas-dragable {
    height: 100vh;
    width: 100%;
}