.filters-popover-title {
    text-align: center;
}

h4 {
    font-weight: bold;
    margin-left: 20px;
}

.filters {
    width: 100%;
    
    
    .filter {
        display: flex;
        height: 40px;
        line-height: 40px;
        width: 100%;

        ion-label {
            width: 70%;
        }

        ion-toggle {
            text-align: right;
        }

        ion-radio {
            text-align: right;
        }
    }
}