<ion-list>

  <h2 class="filters-popover-title">Filters</h2>

  <ion-item lines="full">

    <div class="filters filters-name">

      <div class="filter">
        <ion-label>Default : </ion-label>
        <!-- <ion-toggle [(ngModel)]="default" (ionChange)="filterDefault($event)"></ion-toggle> -->
        <ion-radio slot="end" [(ngModel)]="default" (ionSelect)="filterDefault($event)" [checked]="default"></ion-radio>
      </div>

    </div>
  </ion-item>

  <h4>By name :</h4>
  <ion-item lines="full" class="filters filters-name">

    <div class="filter filter-asc">
      <ion-label>Ascending : </ion-label>
      <!-- <ion-toggle [(ngModel)]="nameAsc" (ionChange)="filterByNameAsc($event)"></ion-toggle> -->
      <ion-radio slot="end" [(ngModel)]="nameAsc" (ionSelect)="filterByNameAsc($event)" [checked]="nameAsc"></ion-radio>
    </div>

  </ion-item>

  <ion-item lines="full" class="filters filters-name">

    <div class="filter filter-desc">
      <ion-label>Descending : </ion-label>
      <!-- <ion-toggle [(ngModel)]="nameDesc" (ionChange)="filterByNameDesc($event)"></ion-toggle> -->
      <ion-radio slot="end" [(ngModel)]="nameDesc" (ionSelect)="filterByNameDesc($event)" [checked]="nameDesc">
      </ion-radio>

    </div>
  </ion-item>

  <!-- <ion-item lines="full">
    <div class="filters filters-date">

      <h4>By date :</h4>
      <div class="filter filter-asc">
        <ion-label>Ascending : </ion-label>
        <ion-toggle [(ngModel)]="dateAsc" (ionChange)="filterByDateAsc($event)"></ion-toggle>
      </div>

      <div class="filter filter-desc">
        <ion-label>Descending : </ion-label>
        <ion-toggle [(ngModel)]="dateDesc" (ionChange)="filterByDateDesc($event)"></ion-toggle>
      </div>
    </div>
  </ion-item> -->

  <ion-item (click)="close()" lines="none">
    <ion-icon name="close"></ion-icon>
    Save & Close
  </ion-item>

</ion-list>