<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="article">
    <div class="top-container">
      <img class="article-img" src="{{ articleDetails.urlToImage }}" alt="img" *ngIf="articleDetails.urlToImage">
      <div class="article-infos">
        <p class="author" *ngIf="articleDetails.author"><ion-icon name="create"></ion-icon> Author : <span class="author-name">{{ articleDetails.author }}</span></p>
        <p class="published-date"><ion-icon name="calendar"></ion-icon> {{ articleDetails.publishedAt }}</p>
      </div>
    </div>
    <div class="main-content">
      <h1 class="title">{{ articleDetails.title }}</h1>
      <h4 class="description" *ngIf="articleDetails.description">{{ articleDetails.description }}</h4>
      <hr class="content-separation">
      <p class="content" *ngIf="articleDetails.content">{{ articleDetails.content }}</p>
    </div>
  </div>
</ion-content>