<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

  <div>
    <img class="article-img" src="{{ articleDetails.urlToImage }}" alt="img">
    <p class="published-date">{{ articleDetails.publishedAt }}</p>
    <p class="author">Author : {{ articleDetails.author }}</p>
    <h1 class="title">{{ articleDetails.title }}</h1>
    <h4 class="description">{{ articleDetails.description }}</h4>
    <p class="content">{{ (article.content }}</p>
  </div>

<ion-content>

</ion-content>
