<ion-list>

  <ion-item lines="full">
    <table style="width:100%">
      <tr class="mb-5">
        <h4>Brush size</h4>
      </tr>
      <tr>
        <td>
          <!-- If it's an Android Device -->
          <input class="brush-size-range" type="range" name="brushSize" [(ngModel)]="brushSize" (ngModelChange)="newBrushValue($event)" min="1" max="30" *ngIf="isAndroid">
          <!-- If it's an other type of device but not an Android -->
          <ion-range min="1" max="30" pin="true" [(ngModel)]="brushSize" (ngModelChange)="newBrushValue($event)" color="primary" *ngIf="isIosDesktop">
            <ion-icon size="small" slot="start" name="brush"></ion-icon>
            <ion-icon slot="end" name="brush"></ion-icon>
          </ion-range>
        </td>
        <td style="text-align: center">{{ getBrushSize() }}px</td>
      </tr>
    </table>
  </ion-item>

  <!-- <ion-item lines="none">
    <p>Brush color : <ion-icon style="font-size:2em" [style.color]="getBrushColor()" style="font-size: 2em; line-height:-10px" name="square"></ion-icon></p><br>
  </ion-item>
  <button *ngFor="let color of availableColors" icon-only ion-button (click)="changeColor(color)">
    <ion-icon style="font-size:2em" [style.color]="color" name="square"></ion-icon><br>
  </button> -->

  <ion-item lines="none">
    <h4>Brush color : <button [style.background-color]="getBrushColorHex()" style="padding:5px;" disabled>{{ getBrushColorHex() }}</button></h4>
  </ion-item>

  <!-- If it's an Android Device -->
  <ion-item>
    <div class="range" *ngIf="isAndroid">
      <table class="table-color">
        <tr>
          <th>Color</th>
          <th>Range</th> 
          <th>Value</th>
        </tr>
        <tr class="row">
          <td class="color">R</td>
          <td><input id="red-amount" type="range" name="redColor" [(ngModel)]="redColor" (ngModelChange)="newRedValue($event)" min="0" max="255"></td> 
          <td class="color-rgb-value">{{ redColor }}</td>
        </tr>
        <tr class="row">
          <td class="color">G</td>
          <td><input id="green-amount" type="range" name="greenColor" [(ngModel)]="greenColor" (ngModelChange)="newGreenValue($event)" min="0" max="255"></td> 
          <td class="color-rgb-value">{{ greenColor }}</td>
        </tr>
        <tr class="row">
          <td class="color">B</td>
          <td><input id="blue-amount" type="range" name="blueColor" [(ngModel)]="blueColor" (ngModelChange)="newBlueValue($event)" min="0" max="255"></td> 
          <td class="color-rgb-value">{{ blueColor }}</td>
        </tr>
      </table>
    </div>

    <!-- If it's an other type of device but not an Android -->
    <div class="range" *ngIf="isIosDesktop">
      <table class="table-color">
        <tr>
          <th>Color</th>
          <th>Range</th> 
          <th>Value</th>
        </tr>
        <tr class="row">
          <td class="color">R</td>
          <td><ion-range id="red-amount" min="0" max="255" pin="true" [(ngModel)]="redColor" (ngModelChange)="newRedValue($event)" color="primary"></ion-range></td> 
          <td class="color-rgb-value">{{ redColor }}</td>
        </tr>
        <tr class="row">
          <td class="color">G</td>
          <td><ion-range id="green-amount" min="0" max="255" pin="true" [(ngModel)]="greenColor" (ngModelChange)="newGreenValue($event)" color="primary"></ion-range></td> 
          <td class="color-rgb-value">{{ greenColor }}</td>
        </tr>
        <tr class="row">
          <td class="color">B</td>
          <td><ion-range id="blue-amount" min="0" max="255" pin="true" [(ngModel)]="blueColor" (ngModelChange)="newBlueValue($event)" color="primary"></ion-range></td> 
          <td class="color-rgb-value">{{ blueColor }}</td>
        </tr>
      </table>
    </div>
  </ion-item>

  <ion-item style="text-align: center;" (click)="close()" lines="none"> 
    <ion-icon name="close"></ion-icon>
    Save & Close
  </ion-item>

</ion-list>