<ion-list>

  <ion-item lines="none">
    <p>Brush size : {{ getBrushSize() }}</p>
  </ion-item>

  <ion-item>
    <ion-range min="1" max="30" pin="true" [(ngModel)]="brushSize" (ngModelChange)="newBrushValue($event)" color="pirmary">
      <ion-icon size="small" slot="start" name="brush"></ion-icon>
      <ion-icon slot="end" name="brush"></ion-icon>
    </ion-range>
  </ion-item>

  <ion-item lines="none">
    <p>Brush color : <ion-icon style="font-size:2em" [style.color]="getBrushColor()" style="font-size: 2em; line-height:-10px" name="square"></ion-icon></p>
  </ion-item>
  <button *ngFor="let color of availableColors" icon-only ion-button (click)="changeColor(color)">
    <ion-icon style="font-size:2em" [style.color]="color" name="square"></ion-icon>
  </button>

  <ion-item style="text-align: center;" (click)="close()" lines="full"> 
    <ion-icon name="close"></ion-icon>
    Close
  </ion-item>

</ion-list>