// Colors
$boxshadow-button-color: 0px 0px 6px 0px rgba(0, 0, 0, .15);
$boxshadow-color-element: 0px 0px 6px 0px rgba(0, 0, 0, .25);
$slider-brush-color: #0071a9;
$slider-main-color: #d1d8e0;
$red-color-1: #eb4d4b;
$red-color-2: #ff7979;
$green-color-1: #6ab04c;
$green-color-2: #badc58;
$blue-color-1: #3867d6;
$blue-color-2: #4b7bec;

// Elements Size
$radius-color-element: 7px;
$font-size-heading-color: 1.1em;


.brush-size-range {
    background: $slider-brush-color;
}

.color-choice {
    border-radius: 5px;
    -webkit-box-shadow: $boxshadow-button-color;
    -moz-box-shadow: $boxshadow-button-color;
    box-shadow: $boxshadow-button-color;
    padding: 6px;
    text-transform: uppercase;
}

th,
td {
    padding: 10px 1px;
    margin-bottom: 10px;
}

.color-range-container {
    padding: 6px;
    width: 100%;

    .heading-color {
        display: flex;
        justify-content: space-between;

        .head {
            font-size: $font-size-heading-color;
        }
    }

    .color {
        align-items: center;
        border-radius: $radius-color-element;
        box-shadow: $boxshadow-color-element;
        display: flex;
        margin: 15px 0px;
        padding: 10px 0;
        text-align: center;
        width: 100%;
    }

    .part-1,
    .part-3 {
        font-weight: bold;
        vertical-align: middle;
        width: 16%;
    }

    .part-2 {
        width: 68%;
    }

    .red-color {
        background-image: linear-gradient(90deg, $red-color-1, $red-color-2);
    }

    .green-color {
        background-image: linear-gradient(90deg, $green-color-1, $green-color-2);
    }

    .blue-color {
        background-image: linear-gradient(90deg, $blue-color-1, $blue-color-2);
    }
}

#red-amount,
#green-amount,
#blue-amount {
    background: $slider-main-color;
    transition: background-image 0.25s;
}

input[type=range] {
    -webkit-appearance: none;
    border-radius: 25px;    
    width: 100%;
    margin: 7.5px 0;
}

input[type=range]:focus {
    border-radius: 25px;
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4), 0px 0px 0px rgba(13, 13, 13, 0.4);
    // background: #0071a9;
    border-radius: 25px;
    border: 0px solid #000101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(13, 13, 13, 0.2);
    border: 0px solid #4affff;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
}

// input[type=range]:focus::-webkit-slider-runnable-track {
//     // background: #0071a9;
// }

input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4), 0px 0px 0px rgba(13, 13, 13, 0.4);
    // background: #0071a9;
    border-radius: 25px;
    border: 0px solid #000101;
}

input[type=range]::-moz-range-thumb {
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(13, 13, 13, 0.2);
    border: 0px solid #4affff;
    border-radius: 50px;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    // background: #0071a9;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4), 0px 0px 0px rgba(13, 13, 13, 0.4);
}

input[type=range]::-ms-fill-upper {
    // background: #0071a9;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4), 0px 0px 0px rgba(13, 13, 13, 0.4);
}

input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(13, 13, 13, 0.2);
    border: 0px solid #4affff;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    height: 5px;
}